.principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrossel__sobrenos {
    color: var(--vermelho-escuro);
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1em;
    
}

.carrossel__titulo {
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 1em;
}

.carrossel__texto {
    font-size: 1em;
    font-weight: 300;
    color: var(--cinza-claro);
}